div{
    background-color: silver;
    color: rgb(23, 135, 247);
    font-family: 'Courier New', Courier, monospace;
}
.b1{
    background-color: lightgreen;
    color: seagreen;
    margin: 20px;
    padding: 10px;
    border: 10px groove lightseagreen;
    width: 70px;
    height: 20px;
}
.alfredo{
    background-color: lightskyblue;
    font-weight: bold;
    color: rgb(24, 136, 248);
    margin: 20px;
    padding: 10px;
    border: 6px groove aquamarine;
    width: 100px;
    height: 20px;
}
.agrupamento{
    background-color: silver;
    color: rgb(105, 110, 116);
    border: 2px groove gray;
    margin: 10px;
    padding: 10px;
}
#unico{
    background-color: rgb(214, 162, 145);
    color: rgba(139, 0, 0, 0.692);
    border: dashed rgba(197, 73, 73, 0.726);
    margin: 10px;
    padding: 10px;
}
.personalizado{
    background-color: rgb(214, 162, 145);
    color: rgba(139, 0, 0, 0.692);
    border: dashed rgba(197, 73, 73, 0.726);
    margin: 10px;
    padding: 10px;
}
.personalizado:hover{
    background-color: rgba(214, 162, 145, 0.945);
    color: rgba(139, 0, 0, 0.616);
    border: dashed rgba(197, 73, 73, 0.63);
}
.pseudo::selection{
    color: silver;
    background: greenyellow;
}
