body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to right, #038C7F, #A9D9D0);
}
header{ /*definir cabeçalho*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #161616;
    border-radius: 5px; /*arredondar cantos*/
    margin-top: 10px;
}
.logo img{ /*estilizando a imagem do logo*/
    width:45%; /*define o tamanho da imagem em relação ao aumento ou diminuição da largura do navegador*/
    padding-top: 50px;
}
.navegacao{
    overflow: hidden;
}
.navegacao a{ /*estilização de hyperlinks*/
    color: rgb(173, 173, 173);
    text-decoration: none; /*elimina o sublinhado*/
    float: right; /*disposição dos hyperlinks a direita*/
    padding: 10px;
}
.navegacao a:hover{
    color: #e32936;
}
.principal{
    display: flex; /*organiza a disposição do conteúdo, neste caso colocou as divs de conteúdo uma ao lado da outra*/
    flex-direction: row;
    color: #044e4e;
}
.conteudo{ /*estilização do conteúdo*/
    background-color: #A9D9D0;
    text-align: justify;
    padding: 15px; /*preenchimento*/
    margin: 15px 10px 25px 10px;
    float: left; /*disposição do conteúdo*/
    border-radius: 5px;
    box-shadow: 10px 10px 10px #027373;
}
.central{
    width: 50%;
}
.lateral{
    width: 20%;
}
.rodape{
    color: #161616;
    font-size: 10px;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:800px){ /*responsividade - alteração do layout de acordo com o tamanho da tela*/
    body,.principal, .conteudo{ /*define os escopos a serem alterados*/
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }
}